$primary-text-color: #fff;
$btn-color:#FF842C;
$btn-hover:#7a3c10;
$btn-radius: 6px;
$font-size: 14px;
$hover-color: red;
$header-height: 60px;

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

